@reference "../../index.css";

.sortContainer {
    @apply flex items-center gap-3 bg-[#0D0B21]/40 p-4 rounded-2xl mb-8 border border-white/5 w-200 ;
}

.fieldGroup {
    @apply relative flex-1;
}

.label {
    @apply absolute -top-2 left-4 bg-[#040312] px-2 text-[10px] text-gray-500 uppercase font-bold tracking-wider z-10;
}

.select {
    @apply w-full bg-transparent border border-white/10 rounded-xl py-3 px-4 text-sm text-white outline-none appearance-none cursor-pointer transition-all focus:border-[#0095FF]/50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
}

.filterBtn {
    @apply cursor-pointer;
}

