@reference "../../index.css";

.header {
  @apply h-20 border-b border-white/5 flex items-center justify-between px-4 md:px-8 sticky top-0 z-50;
  background-color: rgba(8, 7, 29, 0.8);
  backdrop-filter: blur(12px);
}

.logo {
  @apply flex items-center justify-between gap-2 text-xl font-bold tracking-tight;
}
.logo span {
  @apply flex items-center gap-2;
}

.searchInput {

  @apply  w-200 bg-white/5 border border-white/10 rounded-xl py-2 pl-4 pr-10 text-sm transition-all focus:outline-none focus:border-brand-blue/50;
}

.actions {
  @apply flex gap-3;
}

.loginBtn {
  @apply px-5 py-2 text-sm font-medium transition-all cursor-pointer;
  border: 1px solid #2BD9FF;
  border-radius: 10px;
}

.regBtn {
  @apply px-5 py-2 text-sm font-bold transition-all text-white cursor-pointer;
  background-color: var(--color-brand-blue);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 149, 255, 0.3);
}

.regBtn:hover {
  filter: brightness(110%);
}